html{
  background-color: white;

}
.nav-tabs{
  background-color:#e9e3f2 !important;
  font-size: 145%;
  font-family: Palantino;
}
.tab-content{
    background-color:#303136;
    color:black !important;
    padding:5px;

}
.nav-tabs a{
  color: black !important;
  z-index: 1;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover{
    background-color: #843cd1 !important;
    color: white !important;
    z-index: 1;
}
.nav-tabs > li > a:hover{
  background-color: #51297c !important;
    border: medium none;
    color:#fff !important;
    z-index: 1;
}
.tab-content{
  background-color: white;
  font-size: 20px;
  z-index: 1;
}

.topBox{
  background-color: #3a4468;
  position: absolute;
  height: 12.1%;
  width: 100%;
  left: 0%;
  top: 0%;
}
.chef{
  position: absolute;
  top:-2.5%;
  height: 18%;
  left: 44.3%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.list{
  font-size: 120%;
  font-family: Palantino;
  text-align: center;
}
.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 0 4px;
  max-height: 50%
}

/* Create two equal columns that sits next to each other */
.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
